<div class="container">

  <div class="jumbotron">
    <h1>Rails API Test</h1>
    <p>This is an example application that uses some public API and their gems in order to test some basic features.</p>
    <p>Some of the APIs are:.</p>
    <ul>
      <li><a href="/spotify/search">Spotify : Rspotify(gem)</a></li>
    </ul>
  </div>

</div> <!-- /container -->
